.background{
    background-image: url('../Images/library.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    flex-direction: column;
}

.login{
    width:30%;
    min-width:300px;
    background:rgba(127, 127, 127, .9);
    padding:3%;
    border-radius:4px;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}